/* Write your CSS here */
.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.heading {
  color: #252627;
  font-family: 'Roboto';
  font-size: 40px;
}

.search-input {
  color: #0f172a;
  background-color: #f1f5f9;
  font-family: 'Open Sans';
  font-size: 14px;
  border: none;
  outline: none;
}
.search-icon {
  height: 20px;
  width: 20px;
}
.search-input-container {
  display: flex;
  background-color: #f1f5f9;
  border-radius: 8px;
  padding: 10px;
}
.destination-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 48px;
}
